{
  "extends": [
    "@feb/eslint-config-base",
    "@feb/eslint-config-base/typescript",
    "@feb/eslint-config-base/react",
    "@feb/eslint-config-base/prettier"
  ],
  "ignorePatterns": [
    "**/dist/**/*",
    "**/lib/**/*",
    "**/node_modules/**/*",
    "scripts/**/*"
  ]
}
